In [2]:
import pandas as pd
import ast
from datetime import datetime

In [3]:
df=pd.read_csv('NewsContent.csv')
df

,NewsID,filename,title,authors,summary,top_img,canonical_link,publish_date,keywords,meta_data,images,source,movies,text,url
0,1,PolitiFact_Real_1,Trump Just Insulted Millions Who Lost Everythi...,"Brett Bose, Grant Stern, Steve Bernstein, Nata...",This proves he's morally unfit to lead this gr...,http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/27/trump-ju...,09-26-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],16.8k SHARES SHARE THIS STORY\n\nHillary Clint...,http://occupydemocrats.com/2016/09/27/trump-ju...
1,2,PolitiFact_Real_2,Trump Campaign Chair Says Racism Didn't Exist ...,"Colin Taylor, Grant Stern, Brett Bose, Natalie...","""I don't care. It's the truth!""",http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/22/unhinged...,09-21-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],24.8k SHARES SHARE THIS STORY\n\nRepublican no...,http://occupydemocrats.com/2016/09/22/unhinged...
2,3,PolitiFact_Real_3,'Locked the black bitch out': White students u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The University of North Dakota is investigatin...,NaN
3,4,PolitiFact_Real_4,Massive Protests Erupt In North Carolina After...,"Colin Taylor, Grant Stern, Brett Bose, Natalie...",The tragedies continue to roll in.,http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/21/massive-...,09-20-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],12k SHARES SHARE THIS STORY\n\nMassive protest...,http://occupydemocrats.com/2016/09/21/massive-...
4,5,PolitiFact_Real_5,Howard Dean ROASTS Trump Over Debate Sniffles:...,Ryan Denson,Here come the 'offended' Trump supporters.,http://addictinginfo.addictinginfoent.netdna-c...,http://addictinginfo.com/2016/09/27/howard-dea...,09-26-2016,[],{'publisher': 'Addicting Info | The Knowledge ...,"['http://i.imgur.com/JeqZLhj.png', 'https://d5...",http://addictinginfo.org,[],"In the first half of the debate, Donald Trump ...",http://addictinginfo.org/2016/09/27/howard-dea...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,PolitiFact_Fake_116,"""The 2nd Amendment Was Written Before Guns Wer...",NaN,Gretchen Carlson is renewing her push for an A...,http://redherald.com/wp-content/uploads/2017/0...,http://redherald.com/gretchen-carlson-2nd-amen...,06-27-2017,[],"{'generator': 'WordPress 4.8.1', 'og': {'site_...",['http://redherald.com/wp-content/uploads/2017...,http://redherald.com,[],Gretchen Carlson is renewing her push for an A...,http://redherald.com/gretchen-carlson-2nd-amen...
236,237,PolitiFact_Fake_117,A Hollywood Star Is Moving To Canada Because O...,NaN,Many Hollywood celebrities announced that they...,http://conservativearmy88.com/wp-content/uploa...,http://conservativearmy88.com/breaking-hollywo...,07-14-2017,[],{'description': 'Many Hollywood celebrities an...,['http://conservativearmy88.com/wp-content/upl...,http://conservativearmy88.com,[],Many Hollywood celebrities announced that they...,http://conservativearmy88.com/breaking-hollywo...
237,238,PolitiFact_Fake_118,Russian Mansions Obama Seized Were Meant To Be...,NaN,"Well, well, well…it looks like Obummer wasn’t ...",http://breaking.newsfeedhunter.com/wp-content/...,http://breaking.newsfeedhunter.com/russian-man...,07-12-2017,[],"{'description': 'Well, well, well…it looks lik...",['http://breaking.newsfeedhunter.com/wp-conten...,http://breaking.newsfeedhunter.com,[],"Well, well, well…it looks like Obummer wasn’t ...",http://breaking.newsfeedhunter.com/russian-man...
238,239,PolitiFact_Fake_119,Barack Obama Tweets SICK Attack On John McCain...,Please Enter Your Name Here,Barack Obama is a sick human being unfit for a...,http://dailythings.world/wp-content/uploads/20...,http://dailythings.world/2017/07/20/barack-oba...,07-19-2017,[],"{'generator': 'WordPress 4.8.1', 'author': 'ad...",['http://dailythings.world/wp-content/uploads/...,http://dailythings.world,[],Barack Obama is a sick human being unfit for a...,http://dailythings.world/2017/07/20/barack-oba...
239,240,PolitiFact_Fake_120,Wasserman Schultz Going To Mental Hospital Aft...,NaN,The biggest story this week was the arrest of ...,http://usadailynews24.com/wp-content/uploads/2...,http://usadailynews24.com/wasserman-schultz-go...,07-28-2017,[],{'description': 'The biggest story this week w...,['https://i0.wp.com/usadailynews24.com/wp-cont...,http://usadailynews24.com,['http://www.youtube.com/embed/q9wwKZYIxco?ver...,The biggest story this week was the arrest of ...,http://usadailynews24.com/wasserman-schultz-go...

In [4]:
def mark_top_img_presence(df):
    try:
        df['image_present'] = df['top_img'].apply(lambda x: 1 if pd.notna(x) and x.strip() else 0)
        return df[['NewsID', 'image_present']]
    except KeyError:
        print("Error: 'top_img' or 'NewsID' column not found in the DataFrame.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
mark_top_img_presence(df)

     NewsID  image_present
0         1              1
1         2              1
2         3              0
3         4              1
4         5              1
..      ...            ...
235     236              1
236     237              1
237     238              1
238     239              1
239     240              1

[240 rows x 2 columns]

In [5]:
import ast
import pandas as pd

def count_images(df):
    try:
        if df.empty:
            print("Error: The DataFrame is empty.")
            return pd.DataFrame(columns=['NewsID', 'image_count'])
        
        if 'images' not in df.columns or 'NewsID' not in df.columns:
            print("Error: 'images' or 'NewsID' column not found in the DataFrame.")
            return pd.DataFrame(columns=['NewsID', 'image_count'])
        image_counts = []
        news_ids = []
        for index, row in df.iterrows():
            if pd.isna(row['images']) or row['images'] == '': 
                image_counts.append(0)
            else:
                img = row['images']
                img = ast.literal_eval(img)
                count_of_images = len(img)
                image_counts.append(count_of_images)
            
            news_ids.append(row['NewsID'])
        
        result_df = pd.DataFrame({'NewsID': news_ids, 'image_count': image_counts})
        return result_df
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return pd.DataFrame(columns=['NewsID', 'image_count'])

result_df = count_images(df)
result_df

     NewsID  image_count
0         1           16
1         2           16
2         3            0
3         4           16
4         5            9
..      ...          ...
235     236            1
236     237            9
237     238           19
238     239           12
239     240            4

[240 rows x 2 columns]

In [6]:
def mark_top_img_presence(df):
    try:
        df['top_img_presence'] = df['top_img'].apply(lambda x: 1 if pd.notna(x) and x.strip() else 0)
        return df
    except KeyError:
        print("Error: 'top_img' column not found in the DataFrame.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
mark_top_img_presence(df)

,NewsID,filename,title,authors,summary,top_img,canonical_link,publish_date,keywords,meta_data,images,source,movies,text,url,image_present,top_img_presence
0,1,PolitiFact_Real_1,Trump Just Insulted Millions Who Lost Everythi...,"Brett Bose, Grant Stern, Steve Bernstein, Nata...",This proves he's morally unfit to lead this gr...,http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/27/trump-ju...,09-26-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],16.8k SHARES SHARE THIS STORY\n\nHillary Clint...,http://occupydemocrats.com/2016/09/27/trump-ju...,1,1
1,2,PolitiFact_Real_2,Trump Campaign Chair Says Racism Didn't Exist ...,"Colin Taylor, Grant Stern, Brett Bose, Natalie...","""I don't care. It's the truth!""",http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/22/unhinged...,09-21-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],24.8k SHARES SHARE THIS STORY\n\nRepublican no...,http://occupydemocrats.com/2016/09/22/unhinged...,1,1
2,3,PolitiFact_Real_3,'Locked the black bitch out': White students u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The University of North Dakota is investigatin...,NaN,0,0
3,4,PolitiFact_Real_4,Massive Protests Erupt In North Carolina After...,"Colin Taylor, Grant Stern, Brett Bose, Natalie...",The tragedies continue to roll in.,http://occupydemocrats.com/wp-content/uploads/...,http://occupydemocrats.com/2016/09/21/massive-...,09-20-2016,[],{'generator': 'Powered by Visual Composer - dr...,['http://occupydemocrats.com/wp-content/upload...,http://occupydemocrats.com,[],12k SHARES SHARE THIS STORY\n\nMassive protest...,http://occupydemocrats.com/2016/09/21/massive-...,1,1
4,5,PolitiFact_Real_5,Howard Dean ROASTS Trump Over Debate Sniffles:...,Ryan Denson,Here come the 'offended' Trump supporters.,http://addictinginfo.addictinginfoent.netdna-c...,http://addictinginfo.com/2016/09/27/howard-dea...,09-26-2016,[],{'publisher': 'Addicting Info | The Knowledge ...,"['http://i.imgur.com/JeqZLhj.png', 'https://d5...",http://addictinginfo.org,[],"In the first half of the debate, Donald Trump ...",http://addictinginfo.org/2016/09/27/howard-dea...,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,PolitiFact_Fake_116,"""The 2nd Amendment Was Written Before Guns Wer...",NaN,Gretchen Carlson is renewing her push for an A...,http://redherald.com/wp-content/uploads/2017/0...,http://redherald.com/gretchen-carlson-2nd-amen...,06-27-2017,[],"{'generator': 'WordPress 4.8.1', 'og': {'site_...",['http://redherald.com/wp-content/uploads/2017...,http://redherald.com,[],Gretchen Carlson is renewing her push for an A...,http://redherald.com/gretchen-carlson-2nd-amen...,1,1
236,237,PolitiFact_Fake_117,A Hollywood Star Is Moving To Canada Because O...,NaN,Many Hollywood celebrities announced that they...,http://conservativearmy88.com/wp-content/uploa...,http://conservativearmy88.com/breaking-hollywo...,07-14-2017,[],{'description': 'Many Hollywood celebrities an...,['http://conservativearmy88.com/wp-content/upl...,http://conservativearmy88.com,[],Many Hollywood celebrities announced that they...,http://conservativearmy88.com/breaking-hollywo...,1,1
237,238,PolitiFact_Fake_118,Russian Mansions Obama Seized Were Meant To Be...,NaN,"Well, well, well…it looks like Obummer wasn’t ...",http://breaking.newsfeedhunter.com/wp-content/...,http://breaking.newsfeedhunter.com/russian-man...,07-12-2017,[],"{'description': 'Well, well, well…it looks lik...",['http://breaking.newsfeedhunter.com/wp-conten...,http://breaking.newsfeedhunter.com,[],"Well, well, well…it looks like Obummer wasn’t ...",http://breaking.newsfeedhunter.com/russian-man...,1,1
238,239,PolitiFact_Fake_119,Barack Obama Tweets SICK Attack On John McCain...,Please Enter Your Name Here,Barack Obama is a sick human being unfit for a...,http://dailythings.world/wp-content/uploads/20...,http://dailythings.world/2017/07/20/barack-oba...,07-19-2017,[],"{'generator': 'WordPress 4.8.1', 'author': 'ad...",['http://dailythings.world/wp-content/uploads/...,http://dailythings.world,[],Barack Obama is a sick human being unfit for a...,http://dailythings.world/2017/07/20/barack-oba...,1,1
239,240,PolitiFact_Fake_120,Wasserman Schultz Going To Mental Hospital Aft...,NaN,The biggest story this week was the arrest of ...,http://usadailynews24.com/wp-content/uploads/2...,http://usadailynews24.com/wasserman-schultz-go...,07-28-2017,[],{'description': 'The biggest story this week w...,['https://i0.wp.com/usadailynews24.com/wp-cont...,http://usadailynews24.com,['http://www.youtube.com/embed/q9wwKZYIxco?ver...,The biggest story this week was the arrest of ...,http://usadailynews24.com/wasserman-schultz-go...,1,1

In [7]:
meta=ast.literal_eval(df['meta_data'][0])
summ=meta['og']['description']
df['summary'][0]=summ

/var/folders/9l/7llcw8rd1jjgq13k9ckd1sf80000gr/T/ipykernel_2009/3094604439.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['summary'][0]=summ
/var/folders/9l/7llcw8rd1jjgq13k9ckd1sf80000gr/T/ipykernel_2009/3094604439.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['summary'][0]=summ

In [8]:
import string

def count_punctuations(text):
    try:
        return sum(1 for char in text if char in string.punctuation)
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return 0

text = "Hello, world! How's everything going?"
punctuation_count = count_punctuations(text)
print(f"Number of punctuation marks: {punctuation_count}")

Number of punctuation marks: 4

In [9]:
df['summary']

0      This proves he's morally unfit to lead this gr...
1                        "I don't care. It's the truth!"
2                                                    NaN
3                     The tragedies continue to roll in.
4             Here come the 'offended' Trump supporters.
                             ...
235    Gretchen Carlson is renewing her push for an A...
236    Many Hollywood celebrities announced that they...
237    Well, well, well…it looks like Obummer wasn’t ...
238    Barack Obama is a sick human being unfit for a...
239    The biggest story this week was the arrest of ...
Name: summary, Length: 240, dtype: object

In [10]:
list_string=df['authors'][3]
list_items=ast.literal_eval(list_string)
result=', '.join(list_items)
result

SyntaxError: invalid syntax (<unknown>, line 1)

In [11]:
date_string=df['publish_date'][56]
date_dict = ast.literal_eval(date_string)
date=datetime.fromtimestamp(date_dict['$date']/1000)
date=date.strftime("%m-%d-%Y")
date

ValueError: malformed node or string: nan

In [12]:
df.columns

Index(['NewsID', 'filename', 'title', 'authors', 'summary', 'top_img',
       'canonical_link', 'publish_date', 'keywords', 'meta_data', 'images',
       'source', 'movies', 'text', 'url', 'image_present', 'top_img_presence'],
      dtype='object')

In [13]:
df1=pd.read_csv('NewsContent.csv')

In [14]:
df1.columns

Index(['NewsID', 'filename', 'title', 'authors', 'summary', 'top_img',
       'canonical_link', 'publish_date', 'keywords', 'meta_data', 'images',
       'source', 'movies', 'text', 'url'],
      dtype='object')

In [15]:
df['meta_data'][0]

'{\'generator\': \'Powered by Visual Composer - drag and drop page builder for WordPress.\', \'og\': {\'site_name\': \'Occupy Democrats\', \'description\': "This proves he\'s morally unfit to lead this great country.", \'title\': \'Trump Just Insulted Millions Who Lost Everything In Bush\\\'s Recession, "That\\\'s Just Business"\', \'locale\': \'en_US\', \'image\': {\'width\': 637, \'identifier\': \'http://occupydemocrats.com/wp-content/uploads/debatefactcheck.jpg\', \'height\': 321}, \'url\': \'http://occupydemocrats.com/2016/09/27/trump-just-insulted-millions-lost-everything-bushs-recession-thats-just-business/\', \'type\': \'article\'}, \'twitter\': {\'image\': \'http://occupydemocrats.com/wp-content/uploads/debatefactcheck.jpg\', \'description\': "This proves he\'s morally unfit to lead this great country.", \'card\': \'summary\', \'title\': \'Trump Just Insulted Millions Who Lost Everything In Bush\\\'s Recession, "That\\\'s Just Business"\'}, \'fb\': {\'admins\': \'100010978633754 , 66801782\', \'app_id\': 187891551586426}, \'msapplication-TileImage\': \'http://occupydemocrats.com/wp-content/uploads/odfavicon-2.gif\', \'article\': {\'section\': \'Economy\', \'tag\': \'style\', \'published_time\': \'2016-09-27T03:05:42-04:00\'}, \'viewport\': \'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1\'}'

In [16]:
def count_unique_user_shares(filepath):
    try:
        df = pd.read_csv(filepath)
        unique_user_shares = df.groupby('NewsID')['UserID'].nunique().reset_index()
        unique_user_shares.columns = ['NewsID', 'UniqueUserShares']
        return unique_user_shares
    except FileNotFoundError:
        print(f"Error: The file '{filepath}' was not found.")
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
    except pd.errors.ParserError:
        print("Error: The file is not formatted correctly.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
count_unique_user_shares('News_User.csv')

     NewsID  UniqueUserShares
0         1                35
1         2                47
2         3                32
3         4                19
4         5                 7
..      ...               ...
235     236                83
236     237                 7
237     238                29
238     239                 7
239     240               103

[240 rows x 2 columns]

In [17]:
def calculate_total_shares(filepath):
    try:
        df = pd.read_csv(filepath)
        shares_per_news = df.groupby('NewsID')['Shares'].sum().reset_index()
        shares_per_news.columns = ['NewsID', 'TotalShares']
        return shares_per_news
    except FileNotFoundError:
        print(f"Error: The file '{filepath}' was not found.")
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
    except pd.errors.ParserError:
        print("Error: The file is not formatted correctly.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

calculate_total_shares('News_User.csv')

     NewsID  TotalShares
0         1           36
1         2           47
2         3           32
3         4           19
4         5            7
..      ...          ...
235     236           91
236     237            7
237     238           30
238     239            7
239     240          110

[240 rows x 2 columns]

In [19]:
pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (24.2)
Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.6 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

In [20]:
df=

Requirement already satisfied: textblob in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk>=3.8->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk>=3.8->textblob) (2024.7.24)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk>=3.8->textblob) (4.66.5)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import nltk
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [50]:
df2=pd.read_csv('News_User.csv')
df2
def get_unique_users_per_news(df):
    try:
        unique_users_per_news = df.groupby('NewsID')['UserID'].unique().reset_index()
        unique_users_per_news.columns = ['NewsID', 'UniqueUserList']
        unique_users_per_news = unique_users_per_news.sort_values(by='NewsID').reset_index(drop=True)
        return unique_users_per_news
    except KeyError as e:
        print(f"Error: Missing column in the DataFrame - {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
df4=get_unique_users_per_news(df2)
df4

     NewsID                                     UniqueUserList
0         1  [105, 1027, 1592, 2486, 2787, 2848, 4301, 4306...
1         2  [312, 2328, 2662, 3025, 4123, 4306, 4843, 5557...
2         3  [2708, 4534, 5642, 5889, 6175, 6566, 6908, 691...
3         4  [4306, 4465, 4726, 5238, 6470, 6918, 7607, 123...
4         5       [111, 301, 7245, 12883, 14814, 15423, 23592]
..      ...                                                ...
235     236  [108, 582, 742, 888, 1361, 1386, 1658, 1754, 1...
236     237    [4749, 7501, 12639, 12977, 13732, 18426, 21958]
237     238  [919, 1607, 3731, 3948, 4885, 5185, 5508, 6294...
238     239   [1476, 12733, 16845, 16960, 18066, 21271, 23149]
239     240  [1, 507, 835, 972, 992, 1581, 2025, 2114, 2171...

[240 rows x 2 columns]

In [51]:


def get_follower_counts(filepath):
    try:
        df = pd.read_csv(filepath)
        follower_counts = df.groupby('followed_id')['follower_id'].nunique().reset_index()
        follower_counts.columns = ['UserID', 'FollowerCount']
        return follower_counts
    except FileNotFoundError:
        print(f"Error: The file '{filepath}' was not found.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except pd.errors.ParserError:
        print("Error: The file is not formatted correctly.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])

follower_counts_df = get_follower_counts('User_User.csv')
#print(follower_counts_df)
follower_counts_df

       UserID  FollowerCount
0           1              6
1           2             11
2           3             48
3           4             24
4           5             18
...       ...            ...
22771   23861              3
22772   23862              3
22773   23863              4
22774   23864              4
22775   23865              4

[22776 rows x 2 columns]

In [52]:
import pandas as pd

def get_follower_counts(filepath):
    try:
        df = pd.read_csv(filepath)
        follower_counts = df.groupby('followed_id')['follower_id'].nunique().reset_index()
        follower_counts.columns = ['UserID', 'FollowerCount']
        return follower_counts
    except FileNotFoundError:
        print(f"Error: The file '{filepath}' was not found.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except pd.errors.ParserError:
        print("Error: The file is not formatted correctly.")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return pd.DataFrame(columns=['UserID', 'FollowerCount'])

def get_unique_users_per_news(df):
    try:
        unique_users_per_news = df.groupby('NewsID')['UserID'].unique().reset_index()
        unique_users_per_news.columns = ['NewsID', 'UniqueUserList']
        unique_users_per_news = unique_users_per_news.sort_values(by='NewsID').reset_index(drop=True)
        return unique_users_per_news
    except KeyError as e:
        print(f"Error: Missing column in the DataFrame - {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

def get_avg_followers_per_news(news_df, follower_df):
    try:
        unique_users_per_news = get_unique_users_per_news(news_df)
        merged = unique_users_per_news.explode('UniqueUserList')
        merged = merged.merge(follower_df, how='left', left_on='UniqueUserList', right_on='UserID')
        avg_followers_per_news = merged.groupby('NewsID')['FollowerCount'].mean().reset_index()
        avg_followers_per_news.columns = ['NewsID', 'AvgFollowers']
        return avg_followers_per_news
    except KeyError as e:
        print(f"Error: Missing column in the DataFrame - {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

follower_counts_df = get_follower_counts('User_User.csv')
news_user_df = pd.read_csv('News_User.csv')

avg_followers_df = get_avg_followers_per_news(news_user_df, follower_counts_df)

print(avg_followers_df)

     NewsID  AvgFollowers
0         1     60.085714
1         2     29.177778
2         3     36.812500
3         4     18.526316
4         5     22.285714
..      ...           ...
235     236     27.787500
236     237     23.714286
237     238     28.185185
238     239      6.142857
239     240     33.040816

[240 rows x 2 columns]

In [53]:
os.getcwd()

'/Users/desmondkofiboateng/Desktop/Desmond/Boise/Coursework/Social Media Mining /FakeNewsDetection/data'

## NODE SIMILARITY

In [54]:
import networkx as nx
import os
from itertools import combinations

In [61]:
os.getcwd()
user_user_path='/Users/desmondkofiboateng/Desktop/Desmond/Boise/Coursework/Social Media Mining /FakeNewsDetection/PolitiFact/PolitiFactUserUser.txt'

In [64]:
G = nx.read_edgelist(user_user_path, nodetype=int)
G.number_of_edges()
def jaccard_similarity(node1, node2, G):
    neighbors1 = set(G.neighbors(int(node1)))  # Convert node1 to native int
    neighbors2 = set(G.neighbors(int(node2)))  # Convert node2 to native int
    intersection = len(neighbors1.intersection(neighbors2))
    union = len(neighbors1.union(neighbors2))
    if union == 0:
        return 0
    return intersection / union
def average_node_similarity(df, G):
    results = []
    for news_id in df['NewsID'].unique():
        users = df[df['NewsID'] == news_id]['UniqueUserList'].values[0]
        similarities = []
        for user1, user2 in combinations(users, 2):
            similarity = jaccard_similarity(user1, user2, G)
            similarities.append(similarity)
        if similarities:
            avg_similarity = sum(similarities) / len(similarities)
        else:
            avg_similarity = 0
        results.append([news_id, avg_similarity])
    
    return pd.DataFrame(results, columns=['NewsID', 'AverageSimilarity'])

In [66]:
df5=average_node_similarity(df4,G)

In [67]:
df5

     NewsID  AverageSimilarity
0         1           0.020823
1         2           0.021366
2         3           0.013198
3         4           0.010141
4         5           0.019897
..      ...                ...
235     236           0.014896
236     237           0.002323
237     238           0.008241
238     239           0.080922
239     240           0.011860

[240 rows x 2 columns]

In [70]:
df5['AverageSimilarity'].min()

np.float64(0.0)

## SENTIMENT ANALYSIS

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [93]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/desmondkofiboateng/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [87]:
df=pd.read_csv('NewsContent.csv')
df.columns

Index(['NewsID', 'filename', 'title', 'authors', 'summary', 'top_img',
       'canonical_link', 'publish_date', 'keywords', 'meta_data', 'images',
       'source', 'movies', 'text', 'url'],
      dtype='object')

In [98]:
def analyze_sentiment_vader(text):
    if isinstance(text, str):
        sid = SentimentIntensityAnalyzer()
        sentiment = sid.polarity_scores(text)
        return sentiment
    else:
        return {'neg': 0.0, 'neu': 0.0, 'pos': 0.0, 'compound': 0.0}

def get_sentiment_for_titles(df):
    sentiment_scores = df['title'].apply(analyze_sentiment_vader).apply(pd.Series)
    sentiment_scores.columns = [f'title_{col}' for col in sentiment_scores.columns]
    df_sentiment = pd.concat([df['NewsID'], sentiment_scores], axis=1)
    return df_sentiment

def get_sentiment_for_text(df):
    sentiment_scores = df['text'].apply(analyze_sentiment_vader).apply(pd.Series)
    sentiment_scores.columns = [f'text_{col}' for col in sentiment_scores.columns]
    df_sentiment = pd.concat([df['NewsID'], sentiment_scores], axis=1)
    return df_sentiment

In [99]:
title_sentiment_df=get_sentiment_for_titles(df)
title_sentiment_df

     NewsID  title_neg  title_neu  title_pos  title_compound
0         1      0.457      0.543      0.000         -0.8126
1         2      0.394      0.606      0.000         -0.7579
2         3      0.485      0.515      0.000         -0.9062
3         4      0.398      0.602      0.000         -0.7650
4         5      0.000      1.000      0.000          0.0000
..      ...        ...        ...        ...             ...
235     236      0.000      1.000      0.000          0.0000
236     237      0.000      1.000      0.000          0.0000
237     238      0.184      0.816      0.000         -0.5574
238     239      0.518      0.482      0.000         -0.8941
239     240      0.255      0.652      0.092         -0.4588

[240 rows x 5 columns]

In [100]:
text_sentiment_df=get_sentiment_for_text(df)
text_sentiment_df

     NewsID  text_neg  text_neu  text_pos  text_compound
0         1     0.175     0.707     0.118        -0.9359
1         2     0.105     0.820     0.074        -0.9457
2         3     0.113     0.751     0.136         0.2732
3         4     0.148     0.791     0.061        -0.9452
4         5     0.158     0.789     0.053        -0.9880
..      ...       ...       ...       ...            ...
235     236     0.126     0.806     0.068        -0.9793
236     237     0.127     0.718     0.155         0.8708
237     238     0.146     0.700     0.153         0.0027
238     239     0.137     0.747     0.117        -0.7793
239     240     0.144     0.807     0.049        -0.9983

[240 rows x 5 columns]

In [107]:
import pandas as pd
from tqdm import tqdm
import re
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from spacy.lang.en import STOP_WORDS
from nltk.corpus import stopwords

In [109]:
lmtzr = WordNetLemmatizer()
stops = list(set(stopwords.words('english') + list(set(ENGLISH_STOP_WORDS)) + list(set(STOP_WORDS)) + ["http"]))
def emotion_NRC(df, emo_dic_path, title_or_text):
    emotion_dic = NRC_dict(emo_dic_path)
    results_emo = pd.DataFrame()
    for x, row in tqdm(df.iterrows()):
        extracted_emotion = getEmotionVector(row[title_or_text], emotion_dic)
        temp = pd.DataFrame(extracted_emotion, index=[x])
        results_emo = pd.concat([results_emo, temp], ignore_index=True)  # Use pd.concat instead of append
    df_emo = pd.concat([df, results_emo], axis=1)
    return df_emo

def NRC_dict(fileEmotion):
    emotion_df = pd.read_csv(fileEmotion, names=["word", "emotion", "intensity"], sep='\t')
    emotion_dic = dict()
    for index, row in emotion_df.iterrows():
        word = str(row['word'])  # Ensure word is a string
        emotion = str(row['emotion'])  # Ensure emotion is a string
        temp_key = word + '#' + emotion
        emotion_dic[temp_key] = row['intensity']
        
        # Apply lemmatization safely with string conversion
        temp_key_n = str(lmtzr.lemmatize(word)) + '#' + emotion
        emotion_dic[temp_key_n] = row['intensity']
        temp_key_v = str(lmtzr.lemmatize(word, 'v')) + '#' + emotion
        emotion_dic[temp_key_v] = row['intensity']
        
    return emotion_dic

def getEmotionItensity(word, emotion, emotion_dic):
    key = word + "#" + emotion
    try:
        return emotion_dic[key]
    except:
        return 0.0

def isWordInEmotionFile(word, emotion_dic):
    result = [(key) for key in emotion_dic.keys() if key.startswith(word + "#")]
    return len(result) > 0

def isStopWord(word):
    return word in stops

def calculateEmotion(emotions, word, emotion_dic):
    emotions["Anger"] += getEmotionItensity(word, "anger", emotion_dic)
    emotions["Anticipation"] += getEmotionItensity(word, "anticipation", emotion_dic)
    emotions["Disgust"] += getEmotionItensity(word, "disgust", emotion_dic)
    emotions["Fear"] += getEmotionItensity(word, "fear", emotion_dic)
    emotions["Joy"] += getEmotionItensity(word, "joy", emotion_dic)
    emotions["Sadness"] += getEmotionItensity(word, "sadness", emotion_dic)
    emotions["Surprise"] += getEmotionItensity(word, "surprise", emotion_dic)
    emotions["Trust"] += getEmotionItensity(word, "trust", emotion_dic)

def getEmotionVector(text, emotion_dic):
    emotions = {"Anger": 0.0, "Anticipation": 0.0, "Disgust": 0.0, "Fear": 0.0, "Joy": 0.0, "Sadness": 0.0, "Surprise": 0.0, "Trust": 0.0, "Objective": 0.0}
    str_ = re.sub("[^a-zA-Z]+", " ", str(text))
    str_ = re.sub(r'[^a-zA-Z ]+', '', str_).lower()
    words = str_.split()
    for word in words:
        if not isStopWord(word):
            if isWordInEmotionFile(word, emotion_dic): 
                calculateEmotion(emotions, word, emotion_dic)
            elif isWordInEmotionFile(lmtzr.lemmatize(word), emotion_dic):
                calculateEmotion(emotions, lmtzr.lemmatize(word), emotion_dic)
            elif isWordInEmotionFile(lmtzr.lemmatize(word, 'v'), emotion_dic):
                calculateEmotion(emotions, lmtzr.lemmatize(word, 'v'), emotion_dic)
            else:
                emotions["Objective"] += 1
    total = sum(emotions.values())
    for key in sorted(emotions.keys()):
        try:
            emotions[key] = (1.0 / total) * emotions[key]
        except:
            emotions[key] = 0
    return emotions

emotion_lexicon_path='NRC-Emotion-Lexicon-Wordlevel-v0.92.txt'

title_emotion_df = emotion_NRC(df, emotion_lexicon_path, 'title')
text_emotion_df = emotion_NRC(df, emotion_lexicon_path, 'text')

240it [01:21,  2.95it/s]
36it [06:29, 16.73s/it]